// main: ../main.less

@font-size-diff: round( ( @font-heading-size - @font-normal-size ) / 6, 2 );

@font-heading-size-1: @font-heading-size;
@font-heading-size-2: @font-heading-size-1 - @font-size-diff;
@font-heading-size-3: @font-heading-size-2 - @font-size-diff;
@font-heading-size-4: @font-heading-size-3 - @font-size-diff;
@font-heading-size-5: @font-heading-size-4 - @font-size-diff;
@font-heading-size-6: @font-heading-size-5 - @font-size-diff;

