// main: ../main.less

// font family
@--font-normal  : extract(@--font, 1);
@--font-heading : extract(@--font, 2);
@--font-code    : extract(@--font, 3);

// font size
@--font-normal-size   : extract(@--font, 4);
@--font-heading-size  : extract(@--font, 5);
@--font-code-size     : extract(@--font, 6);

// font weight
@--font-normal-weight   : extract(@--font, 7);
@--font-heading-weight  : extract(@--font, 8);
@--font-code-weight     : extract(@--font, 9);
