// main: ../main.less
  


// full color
@-black-l  : lighten( @-black,   @-r-light);
@-white-l  : lighten( @-white,   @-r-light);
@-silver-l : lighten( @-silver,  @-r-light);
@-gray-l   : lighten( @-gray,    @-r-light);
@-graphit-l: lighten( @-graphit, @-r-light);
@-red-l    : lighten( @-red,     @-r-light);
@-brown-l  : lighten( @-brown,   @-r-light);
@-orange-l : lighten( @-orange,  @-r-light);
@-yellow-l : lighten( @-yellow,  @-r-light);
@-olive-l  : lighten( @-olive,   @-r-light);
@-green-l  : lighten( @-green,   @-r-light);
@-teal-l   : lighten( @-teal,    @-r-light);
@-cyan-l   : lighten( @-cyan,    @-r-light);
@-blue-l   : lighten( @-blue,    @-r-light);
@-indigo-l : lighten( @-indigo,  @-r-light);
@-purple-l : lighten( @-purple,  @-r-light);
@-pink-l   : lighten( @-pink,    @-r-light);

@-black-d  : darken( @-black,   @-r-dark);
@-white-d  : darken( @-white,   @-r-dark);
@-silver-d : darken( @-silver,  @-r-dark);
@-gray-d   : darken( @-gray,    @-r-dark);
@-graphit-d: darken( @-graphit, @-r-dark);
@-red-d    : darken( @-red,     @-r-dark);
@-brown-d  : darken( @-brown,   @-r-dark);
@-orange-d : darken( @-orange,  @-r-dark);
@-yellow-d : darken( @-yellow,  @-r-dark);
@-olive-d  : darken( @-olive,   @-r-dark);
@-green-d  : darken( @-green,   @-r-dark);
@-teal-d   : darken( @-teal,    @-r-dark);
@-cyan-d   : darken( @-cyan,    @-r-dark);
@-blue-d   : darken( @-blue,    @-r-dark);
@-indigo-d : darken( @-indigo,  @-r-dark);
@-purple-d : darken( @-purple,  @-r-dark);
@-pink-d   : darken( @-pink,    @-r-dark);

@themes-varnames:
  -black-d,
  -black,
  -black-l,
  -graphit-d,
  -graphit,
  -graphit-l,
  -gray-d,
  -gray,
  -gray-l,
  -silver-d,
  -silver,
  -silver-l,
  -white-d,
  -white,
  -white-l,
  -red-d,
  -red,
  -red-l,
  -orange-d,
  -orange,
  -orange-l,
  -yellow-d,
  -yellow,
  -yellow-l,
  -olive-d,
  -olive,
  -olive-l,
  -green-d,
  -green,
  -green-l,
  -teal-d,
  -teal,
  -teal-l,
  -cyan-d,
  -cyan,
  -cyan-l,
  -blue-d,
  -blue,
  -blue-l,
  -indigo-d,
  -indigo,
  -indigo-l,
  -purple-d,
  -purple,
  -purple-l,
  -pink-d,
  -pink,
  -pink-l,
  -primary,
  -secondary,
  -success,
  -positive,
  -danger,
  -negative,
  -alert,
  -alert-alt,
  -info,
  -info-alt,
  -light,
  -dark
;
  
