// main: ../../main.less

@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed|Ubuntu+Mono:400,700|Ubuntu:300,400,500,700');

@font-normal : 'Ubuntu';
@font-normal-size : 'Ubuntu Condensed';
@font-normal-weight : 'Ubuntu Mono';

@font-heading : 1.0em;
@font-heading-size : 3.0em;
@font-heading-weight : 0.9em;

@font-code : 300;
@font-code-size : 400;
@font-code-weight : 400;
