// main: ../../main.less

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|Roboto+Mono:100,300,400,500,700|Roboto:100,300,400,500,700,900');

@font-normal :  'Roboto';
@font-normal-size :  'Roboto Condensed';
@font-normal-weight :  'Roboto Mono';

@font-heading :  1.0em;
@font-heading-size :  3.0em;
@font-heading-weight :  0.9em;

@font-code :  300;
@font-code-size :  400;
@font-code-weight :  300;