// main: ../main.less


:root
{
  .LessColorsLoopForRoot(@index ) when ( @index > 0 )
    {.LessColorsLoopForRoot( @index - 1 );
      @name: extract( @themes-varnames, @index );

      -@{name} : @@name;
    }
  .LessColorsLoopForRoot( length( @themes-varnames ) );

  --font-normal     : @font-normal;
  --font-normal-s   : @font-normal-size;
  --font-normal-w   : @font-normal-weight;

  --font-heading    : @font-heading;
  --font-heading-s  : @font-heading-size;
  --font-heading-s1 : @font-heading-size-1;
  --font-heading-s2 : @font-heading-size-2;
  --font-heading-s3 : @font-heading-size-3;
  --font-heading-s4 : @font-heading-size-4;
  --font-heading-s5 : @font-heading-size-5;
  --font-heading-s6 : @font-heading-size-6;
  --font-heading-w  : @font-heading-weight;
  
  --font-code       : @font-code;
  --font-code-s     : @font-code-size;
  --font-code-w     : @font-code-weight;

  --icons-set-fa  : @ICONS-USE-FA;
  --icons-set-mdi : @ICONS-USE-MDI;
  --icons-set-ION : @ICONS-USE-ION;

  --browser-reset : @BROWSER-RESET;
  --browser-normalize: @BROWSER-NORMALIZE;
}